<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>💲 Card Flip</title>
  </head>
  <body class="bg-light">

    <nav class="navbar px-5 navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'home' %}">💲 Card Flip</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Price Checker <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Watchlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My Deck</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">My Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    
        <div class="container col-lg-8 col-md-10 col-sm-12 col-xs-12 mt-5 mb-5">

          <h1 class="head-logo mb-3">🧾 Price Checker</h1>

          <hr>
          
          <div class="results-container card m-auto p-3 p-sm-2 p-md-3 p-lg-5 col-lg-12 col-md-10 col-sm-10 col-xs-10">
            
            <form class="form-inline justify-content-center" action={% url 'search' %} method="POST">
              {% csrf_token %}
              <label class="sr-only" for="player_name">Player Name</label>
              <input type="text" class="form-control mb-2 mr-sm-2 col-lg-5 col-md-12 col-sm-12" id="player_name" placeholder="Player Name" name="player_name">
              
              <label class="sr-only" for="card_year">Year</label>
              <input type="text" class="form-control mb-2 mr-sm-2 col-lg-5 col-md-12 col-sm-12" id="card_year" placeholder="Year" name="card_year">
              
              <label class="sr-only" for="card_brand">Brand</label>
              <input type="text" class="form-control mb-2 mr-sm-2 col-lg-5 col-md-12 col-sm-12" id="card_brand" placeholder="Card Brand" name="card_brand">
              
              <label class="sr-only" for="card_keyword">Keywords</label>
              <input type="text" class="form-control mb-2 mr-sm-2 col-lg-5 col-md-12 col-sm-12" id="card_keyword" placeholder="Keywords ie 'Rookie Card'" name="card_keyword">
              
              <label class="sr-only" for="card_psa">PSA</label>
              <input type="number" class="form-control mb-2 mr-sm-2 col-lg-5 col-md-12 col-sm-12" id="card_keyword" placeholder="PSA Rating (if applicable)" name="card_psa">
              
              
              <!-- <div class="form-check mb-2 mr-sm-2 justify-content-lg-end justify-content-md-start justify-content-sm-start col-lg-4 col-sm-12">
                <input class="form-check-input" type="checkbox" id="is_mint" name="is_mint">
                <label class="form-check-label" for="is_mint">
                  Mint Condition
                </label>
              </div> -->
              <button type="submit" class="btn btn-primary mb-2 mr-sm-2 col-lg-5 col-sm-12">Get Results!</button>
              
            </form>
            
            
            
            <hr>
            
          {% if request.session.player_name %}
            <h4>✔ {{ request.session.player_name }}</h4>
            {% else %}
            <h4>Player</h4>
            {% endif %}
            <!-- <hr> -->
            <div class="row mt-3">

                <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                  {% if request.session.img_url %}
                  <img src="{{ request.session.img_url }}" alt="Sports Card Image" class="rounded float-left img-thumbnail">
                  {% else %}
                  <img src="https://i.ebayimg.com/images/g/It8AAOSwoKhe9O7y/s-l500.jpg" alt="Patrick Kane Card" class="rounded float-left img-thumbnail">
                  {% endif %}
                </div>
                <div class="col-lg-8 col-md-6 col-sm-12">
                  
                  <h4><b>Year:</b> {{ request.session.year }}</h4>
                  <h4><b>Brand:</b> {{ request.session.brand }}</h4>
                  <h4><b>PSA Rating:</b> {{ request.session.card_psa }}</h4>
                  <hr>
                  <h4><b>Avg. Price + S&H:</b> ${{ request.session.avg_price }}</h4>
                  <button class="btn btn-lg btn-primary btn-deck">Watch Card</button>
                  <button class="btn btn-lg btn-success btn-deck">Add To Deck</button>
                </div>
                
              </div>
            </div>
        </div>

            <footer>
              <div class="row m-0 p-2 col-12 text-center bg-dark text-muted">
                <div class="container">
                  <div class="col-12">
                    © Card Flip 2020
                  </div>
                </div>
              </div>
            </footer>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>